easy_admin:
    entities:
        # List the entity class name you want to manage
        - App\Entity\Competence 
        - App\Entity\Profil
        - App\Entity\Project
        - App\Entity\Techonologie
